<div id="kalender-of">
  <script type="text/javascript">
    fetch("/kalender-of.json")
      .then(response => response.json())
      .then(data => {
        let todayDate = new Date();
        let today = todayDate.toISOString().split('T')[0];
        for (const day of data['calendar']) {
          if (day['date'] == today) {
            if ('ref' in day) {
              today = day['ref'];
            } else {
              document.getElementById('kalender-of').innerHTML = day['text'];
              break;
            }
          }
        }
      });
  </script>
</div>
